*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
@mixin flex-coloumn ($gap:0) {
    display: flex;
        flex-direction: column;
        gap : $gap;
}



body,html{
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(245, 245, 245);
    font-size: clamp(14px , 1vw , 18px);
}

section{
    max-width: 2000px ;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    section{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem 4rem;
        gap: 1rem;
        .top{
            width: 100%;
            
            img{
                width: 100%;    
                border-radius: 0.7rem;
            }
        
        }
        .bottom{
            background-color: rgb(43, 43, 43);
            border-radius: 0.7rem;
            padding: 1.5rem;
            display: flex;
            flex-direction: column;
            gap: 4rem;

            .text{
                display: flex;
                flex-direction: column;
                gap: 0.7rem;
            
            h1{
                font-weight: 200;
                font-size: 3rem;
                text-transform: uppercase;
            }
            p{
                font-weight: 100;
                font-size: 1.5rem;
                opacity: 0.6;
                line-height: 1.5rem;
            }
            button{
                width: fit-content;
                border: none;
                outline: none;
                padding: 0.7rem 1rem;
                border-radius: 0.5rem;
            }
            }



        }
    }
}

@media (min-width: 900px){
   
main{    section{
        flex-direction: row;

        .top,.bottom{
            width: 50%;
        }

        .bottom{
            justify-content: space-between;
            padding: 3rem;
        .text{
            h1{
                font-size: 3.5rem;
            }
            p{
                width: 80%;
                font-size: 1rem;
                gap: 1.5rem;
            }
        }
        }

        }
    }
}